@model List<Digikala.DataAccessLayer.Entities.Store.Category>
<button class="btn-menu">
   <div class="align align__justify">
      <span></span>
      <span></span>
      <span></span>
   </div>
</button>
<div class="side-menu">
   <div class="logo-nav-res dt-sl text-center">
      <a href="#">
         <img src="./digikalaTemplate/img/logo.png" alt="">
      </a>
   </div>
   <div class="search-box-side-menu dt-sl text-center mt-2 mb-3">
      <form action="">
         <input type="text" name="s" placeholder="جستجو کنید...">
         <i class="mdi mdi-magnify"></i>
      </form>
   </div>
   <ul class="navbar-nav dt-sl">
      @foreach (var parent in Model)
      {
         if (!parent.ParentId.HasValue)
         {
            <li class="@(Model.Select(x=>x.ParentId).Contains(parent.Id) ? "sub-menu" : "")">
               <a href="#"><span class="@(parent.Icon) font-size-h1 text-dark"></span> @parent.Name </a>
               <ul>
                  @foreach (var subOne in Model)
                  {
                     if (subOne.ParentId.HasValue && subOne.ParentId == parent.Id)
                     {
                        <li class="@(Model.Select(x=>x.ParentId).Contains(subOne.Id) ? "sub-menu" : "")">
                           <a href="#">@subOne.Name</a>
                           <ul>
                              @foreach (var subTwo in Model)
                              {
                                 if (subTwo.ParentId.HasValue && subTwo.ParentId == subOne.Id)
                                 {
                                    <li>
                                       <a href="#">@subTwo.Name</a>
                                    </li>
                                 }
                              }
                           </ul>
                        </li>
                     }
                  }
               </ul>
            </li>
         }
      }

   </ul>
</div>
<div class="overlay-side-menu">
</div>