@model Digikala.DTOs.FormGenericDto.AdminPanel.ForIndex.EditDeleteBtnFormDto
@if (Model.ModalEditButton)
{
   <a onclick="@Model.EditMethodOnclick" class="btn btn-icon btn-sm btn-warning">
      <i class="flaticon2-edit"></i>
   </a>
}
else
{
   <a asp-action="@Model.ActionNameEdit" asp-route-id="@Model.Id" class="btn btn-icon btn-sm btn-warning">
      <span class="far fa-edit font-size-h3"></span>
   </a>
}
@if (Model.ModalDeleteButton)
{
   <a onclick="@Model.DeleteMethodOnclick" class="btn btn-icon btn-sm btn-danger">
      <span class="fas fa-trash-alt font-size-h3"></span>
   </a>
}
else
{
   <a asp-action="@Model.ActionNameDelete" asp-route-id="@Model.Id" class="btn btn-icon btn-sm btn-warning">
      <i class="flaticon2-edit"></i>
   </a>
}
