@model IEnumerable<Digikala.DataAccessLayer.Entities.Identity.Role>
@{
     ViewBag.title = "نقش ها";
     Layout = "_PanelLayout";
     var row = 1;
}
@if (TempData["IsSuccess"] != null)
{
     <script>
          swal({
               title: "موفق",
               text: "عملیات با موفقیت انجام شد",
               icon: "success",
               button: false,
               timer: 2000
          });
     </script>
}

<!--begin::زیر هدر-->
@section SubHeader
{
     <partial name="PanelLayoutShared/_PartialSubHeaderPanelLayout" />
}
<!--end::زیر هدر-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
     <!--begin::Container-->
     <div class="container">
          <!--begin::Notice-->
          @section Notice
          {
               <partial name="PanelLayoutShared/_PartialNoticePanelLayout" />
          }
          <!--end::Notice-->
          <div class="row">
               <div class="col-xxl-12">
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b">
                         <div class="card-header">
                              <div class="card-title">
                                   <h3 class="card-label">@ViewData["Title"]</h3>
                              </div>
                         </div>
                         <div class="card-body">
                              <!--begin::نمونه-->
                              <div class="mb-10">
                                   <p>
                                        <button type="button" class="btn btn-success btn-shadow font-weight-bold mr-2" onclick="CreateRole()">ثبت رکورد جدید</button>
                                        <span asp-validation-summary="All" class="text-danger"></span>
                                   </p>
                                   <table class="table table-hover table-responsive-md">
                                        <thead>
                                             <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">عنوان</th>
                                                  <th scope="col">دستورات</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                             @foreach (var item in Model)
                                             {
                                                  <tr>
                                                       <th scope="row">@row</th>
                                                       <td>@item.Title</td>
                                                       <td>
                                                            <a onclick="EditRole(@item.Id)" class="btn btn-icon btn-sm btn-warning">
                                                                 <i class="flaticon2-edit"></i>
                                                            </a>
                                                            <a onclick="DeleteRole(@item.Id)" class="btn btn-icon btn-sm btn-danger">
                                                                 <i class="flaticon2-delete"></i>
                                                            </a>
                                                       </td>
                                                  </tr>
                                                  row++;
                                             }
                                        </tbody>
                                   </table>
                              </div>
                              <!--end::نمونه-->
                         </div>
                    </div>
                    <!--end::Card-->
               </div>
          </div>
     </div>
     <!--end::Container-->
</div>
<!--end::Entry-->
<partial name="_PartialModalRole" />

@section scripts
{
     <script>
          function CreateRole() {
               $.ajax({
                    url: '/adminPanel/Home/CreateRole',
                    type: 'GET',
                    date: {}
               }).done(function (result) {
                    $('#exampleModal').modal('show');
                    $('#exampleModalLabel').html('ثبت نقش جدید');
                    $('#modalBody').html(result);
               });
          }
          function EditRole(id) {
               $.ajax({
                    url: '/adminPanel/Home/EditRole/' + id,
                    type: 'GET',
                    date: {}
               }).done(function (result) {
                    $('#exampleModal').modal('show');
                    $('#exampleModalLabel').html('ویرایش نقش');
                    $('#modalBody').html(result);
               });
          }
          function DeleteRole(id) {
               $.ajax({
                    url: '/adminPanel/Home/DeleteRole/' + id,
                    type: 'GET',
                    date: {}
               }).done(function (result) {
                    $('#exampleModal').modal('show');
                    $('#exampleModalLabel').html('حذف نقش');
                    $('#modalBody').html(result);
               });
          }
     </script>
   
}
